<h1>All Events Page</h1>
<% for project in @events %>
<%= event.name %>
<% end %>

<p>If there are no events near you, would you like to become a host?</p>
<%= link_to "Create Event", new_event_path%>
