/*--------------------------------------------------------------
## Events
--------------------------------------------------------------*/
.events-all,
.events-upcoming,
.event-single {
	background-color: #222222;
	color: #ffffff;
}

.event-create {
	background-color: #222222;
	color: #ffffff;

	h1 {
		margin-bottom: 50px;
	}

	.form {
		text-align: left;
		color: #333333;
		background-color: #ffffff;
		max-width: 600px;
		margin: 0 auto;
		border-radius: 5px;
		padding: 20px 40px;

		input,
		textarea {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

.event-details {
	background-color: #ffffff;
	color: #333333;
	max-width: 500px;
	margin: 0 auto;
	border-radius: 5px;
	padding: 40px;

	p {
		margin-bottom: 40px;
	}
}