/*--------------------------------------------------------------
## Header Styles
--------------------------------------------------------------*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background-color: $color__header-bg;

	.inner {
		display: flex;
		justify-content: space-between;
		padding: {
			top: 20px;
			bottom: 20px;
		}
	}

	.logo a img {
		width: 100px;
	}

	.user-options {
		> div {
			display: flex;
			align-items: center;
			height: 100%;
			margin-right: -10px;
		}

		.btn  {
			margin-right: 10px;

			a {
				color: $color__primary-button-font;
				text-decoration: none;
			}
		}
	}
}

/*--------------------------------------------------------------
## Landing Styles
--------------------------------------------------------------*/
.landingSearch {
	height: 350px;
	margin-top: 123px;
	padding-top: 50px;
	background-color: #222222;
	color: #ffffff;
	text-align: center;
}