/*--------------------------------------------------------------
## Profile
--------------------------------------------------------------*/
.profile-edit {
	background-color: #222222;
	color: #ffffff;

	.form {
		text-align: left;
		background-color: #ffffff;
		color: #333333;
		max-width: 600px;
		margin: 0 auto;
		border-radius: 5px;
		padding: 20px 40px;
	}
}