.inner {
	max-width: 1140px;
	margin: 0 auto;

	@media screen and (max-width: 1220px) {
		padding: {
			left: 40px;
			right: 40px;
		}
	}
}

.content {
	padding: {
		top: 50px;
		bottom: 50px;
	}
	text-align: center;
}