<section class="landing">
	<div class="inner">
		<div class="landing__content">
			<p>CONNECTING ORGANIZERS AND ESPORTS FANS.</p>
			<p>Find. Join. Meet.</p>
			<a href="">FIND EVENTS</a>
		</div>
	</div>
</section>

<section class="landing-about">
	<div class="inner">
		<h2>ESPORTS COMMUNITY PLATFORM</h2>
		<div class="landing-about__content">
			<div>
				<h3>FIND</h3>
				<p>Lan party, community events, tournaments and viewing parties.</p>
			</div>

			<div>
				<h3>JOIN</h3>
				<p>Community of eSports fans looking for like-minded individuals.</p>
			</div>

			<div>
				<h3>MEET</h3>
				<p>eSports fans around you and start gaming locally.</p>
			</div>
		</div>
	</div>
</section>