
<p>Orgaznier dashboard events</p>

<p> <% @events.each do |event|%></p>
    <% organizer_event = Event.find(event.organizer_id) %>
    <%= link_to organizer_event.name, event_path(organizer_event.id) %>
    <%end %>
